{:paths ["bb"]
 :tasks

 {:requires ([clojure.string :as str]
             [babashka.process :as ps]
             [babashka.fs :as fs])
  :enter    (println (str/capitalize (:name (current-task))))

  clean       {:doc "Remove build artifacts."
               :task (do (println "removing build...")
                         (fs/delete-tree "build"))}

  build-html  {:doc "Compile html files and copy them to pages directory.
                     Will replace any existing files in pages and will not
                     remove any that are no longer in src."
               ;; TODO see if you can set a namespace on the build script
               ;; and import it and call a function instead? Will require
               ;; putting the contents into a function.
               :task (ps/shell "bb" "bb/compile-html.bb")}

  build-all   {:doc "Build all and copy to pages."
               :depends [clean build-html]
               :task (println "not-implemented")}}}
